<html
   xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
   xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
   xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
   xmlns:ad="http://typo3.org/ns/Slavlee/Advertising/ViewHelpers"
   data-namespace-typo3-fluid="true">
	<f:layout name="Backend/Default" />
	
	<f:section name="Main">		
		<h1><f:translate key="module.dashboard.title" extensionName="advertising" /></h1>
		<p class="lead"><f:translate key="module.dashboard.campaign.title" extensionName="advertising" /></p>
		<section id="adSectionOverview">
			<h2><f:translate key="module.dashboard.section.overview.title" extensionName="advertising" /></h2>
			<div class="card-group">				
				<div class="card card-banners">
					<div class="card-header"><f:translate key="module.dashboard.section.overview.campaign.title" extensionName="advertising" /></div>
					<div class="card-body text-primary">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col"><f:translate key="tx_advertising_domain_model_campaign.start_date" extensionName="advertising" /></th>
									<th scope="col"><f:translate key="tx_advertising_domain_model_campaign.end_date" extensionName="advertising" /></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{campaign.starttime -> f:format.date(format: settings.dateFormat)}<f:if condition="{campaign.starttime}"><f:then> <f:translate key="oclock" extensionName="advertising" /></f:then><f:else><f:translate key="module.dashboard.section.overview.campaign.no_starttime" extensionName="advertising" /></f:else></f:if></td>
									<td>{campaign.endtime -> f:format.date(format: settings.dateFormat)}<f:if condition="{campaign.endtime}"><f:then> <f:translate key="oclock" extensionName="advertising" /></f:then><f:else><f:translate key="module.dashboard.section.overview.campaign.no_endtime" extensionName="advertising" /></f:else></f:if></td>
								</tr>
							</tbody>
						</table>						
					</div>
				</div>
				<div class="card card-impressions">
					<div class="card-header"><f:translate key="module.dashboard.section.campaign.banners.title" extensionName="advertising" /></div>
					<div class="card-body text-primary">
						<p class="card-title"><f:translate key="module.dashboard.section.campaign.banners.text" arguments="{0: '{campaign.activeBanners  -> f:count()}'}" extensionName="advertising" /></p>						
					</div>
				</div>
			</div>
		</section>
		<section id="adSectionCampaigns">
			<h2><f:translate key="module.dashboard.section.overview.banners.title" /></h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col"><f:translate key="tx_advertising_domain_model_banner.name" /></th>
						<th scope="col"><f:translate key="tx_advertising_domain_model_campaignstatistic.delivered" /></th>
						<th scope="col"><f:translate key="tx_advertising_domain_model_campaignstatistic.clicked" /></th>
						<th scope="col"><f:translate key="tx_advertising_domain_model_campaignstatistic.ctr" /></th>
					</tr>
				</thead>
				<tbody>				
					<f:if condition="{campaign.banners.array -> f:count()} == 0">
						<f:then>
							<tr>
								<td colspan="6">
									<p class="alert alert-info m-0"><f:translate key="module.dashboard.section.banners.alert.empty" /></p>
								</td>
							</tr>
						</f:then>
						<f:else>
							<f:for each="{campaign.banners}" as="banner" iteration="it">
								<tr>
									<th scope="row">{it.cycle}</th>
									<td class="ad-campaign-name">{banner.name}</td>
									<ad:bannerStatisticForCampaign campaign="{campaign}" banner="{banner}" as="statistic">
										<td class="ad-campaign-delivered">{statistic.delivered}</td>
										<td class="ad-campaign-clicked">{statistic.clicked}</td>
										<td class="ad-campaign-ctr">{statistic.ctr}</td>
									</ad:bannerStatisticForCampaign>
								</tr>
							</f:for>
						</f:else>
					</f:if>
				</tbody>				
				<tfoot>
					<tr>
						<td colspan="7"><p class="m-0 text-info"><f:translate key="module.dashboard.section.campaigns.statistic.info" extensionName="advertising" /></p></td>
					</tr>
				</tfoot>
			</table>
		</section>
	</f:section>
</html>
