<html
   xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
   xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
   xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
   xmlns:ad="http://typo3.org/ns/Slavlee/Advertisement/ViewHelpers"
   data-namespace-typo3-fluid="true">
	<f:layout name="Backend/Default" />
	
	<f:section name="Main">
		<h1><f:translate key="module.dashboard.title" extensionName="advertisement" /></h1>
		
		<section id="adSectionOverview" class="mb-4">
			<h2><f:translate key="module.dashboard.section.campaign.title" arguments="{0: campaign.name}" extensionName="advertisement" /></h2>
			<div class="card-group">
				<div class="card card-campaigns">
					<div class="card-header"><f:translate key="module.dashboard.section.overview.campaigns.title" /></div>
					<div class="card-body text-primary">
						<p class="card-title"><f:translate key="module.dashboard.section.overview.campaigns.text" arguments="{0: '{statistic.activeCampaignsCount}', 1: '{statistic.totalCampaignsCount}'}" /></p>						
					</div>
				</div>
				<div class="card card-banners">
					<div class="card-header"><f:translate key="module.dashboard.section.overview.banners.title" /></div>
					<div class="card-body text-primary">
						<p class="card-title"><f:translate key="module.dashboard.section.overview.banners.text" arguments="{0: '{statistic.activeBannersCount}', 1: '{statistic.totalBannersCount}'}" /></p>						
					</div>
				</div>
			</div>
		</section>
		<section id="adSectionFilter">
			<f:render partial="Backend/Dashboard/TableFilter" arguments="{action: 'show', controller: 'Backend\Dashboard', demand: demand}" />
		</section>
		<section id="adSectionCampaigns">
			<h2><f:translate key="module.dashboard.section.campaigns.title" /></h2>
			<table class="table table-striped table-campaigns">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col"><f:translate key="tx_advertisement_domain_model_campaign.name" /></th>
						<th scope="col"><f:translate key="tx_advertisement_domain_model_campaign.start_date" /> - <f:translate key="tx_advertisement_domain_model_campaign.end_date" /></th>
						<th scope="col"><f:translate key="tx_advertisement_domain_model_campaignstatistic.priority" /></th>
						<th scope="col"><f:translate key="tx_advertisement_domain_model_campaignstatistic.delivered" /></th>
						<th scope="col"><f:translate key="tx_advertisement_domain_model_campaignstatistic.clicked" /></th>
						<th scope="col"><f:translate key="tx_advertisement_domain_model_campaignstatistic.ctr" /></th>
					</tr>
				</thead>
				<tbody>
					<f:if condition="{campaigns -> f:count()} == 0">
						<f:then>
							<tr>
								<td colspan="6">
									<p class="alert alert-info m-0"><f:translate key="module.dashboard.section.campaigns.alert.empty" /></p>
								</td>
							</tr>
						</f:then>
						<f:else>							
							<f:for each="{campaigns}" as="campaign" iteration="it">
								<tr class="ad-campaign-state-{campaign.stateCssClass}">
									<th scope="row">{it.cycle}</th>
									<td class="ad-campaign-name">
										<f:link.action action="campaign" arguments="{campaign: campaign.uid}">{campaign.name}</f:link.action>
										<f:if condition="{campaign.expired} || {campaign.disabled}">
											(<f:translate key="{campaign.stateLangKey}" extensionName="advertisement" />)
										</f:if>
									</td>
									<td class="ad-campaign-date"><f:format.date format="{settings.dateFormat}">{campaign.starttime}</f:format.date> - <f:format.date format="{settings.dateFormat}">{campaign.endtime}</f:format.date></td>
									<td class="ad-campaign-priority"><f:translate key="tx_advertisement_domain_model_campaignstatistic.priority.{campaign.totalStatistic.priority}" extensionName="advertisement" /></td>
									<td class="ad-campaign-delivered">{campaign.totalStatistic.delivered}</td>
									<td class="ad-campaign-clicked">{campaign.totalStatistic.clicked}</td>
									<td class="ad-campaign-ctr">{campaign.totalStatistic.ctr}</td>
								</tr>
							</f:for>							
						</f:else>
					</f:if>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="7"><p class="m-0 text-info"><f:translate key="module.dashboard.section.campaigns.statistic.info" extensionName="advertisement" /></p></td>
					</tr>
				</tfoot>
			</table>
			<f:if condition="{paginateHelper} && {paginateHelper.enable}">
				<f:alias map="{pagination: paginateHelper.paginationBar}">
					<f:if condition="{pagination -> f:count()} > 0">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<f:for each="{pagination}" as="step">
									<li class="page-item{f:if(condition: step.current, then: ' active')}{f:if(condition: step.disabled, then: ' disabled')}">
										<f:if condition="{step.disabled}">
											<f:then>
												<span class="page-link" href="#">{step.label}</span>
											</f:then>
											<f:else>
												<f:link.action action="show" arguments="{pagination: {entriesPerStep: paginateHelper.entriesPerStep, currentStep: step.step}}" class="page-link">{step.label}</f:link.action>
											</f:else>
										</f:if>													
									</li>
								</f:for>
							</ul>
						</nav>
					</f:if>
				</f:alias>
			</f:if>
		</section>
	</f:section>
</html>
