<html 
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ad="http://typo3.org/ns/Slavlee/Advertising/ViewHelpers"
	data-namespace-typo3-fluid="true">
 	<div class="ce-text ad" data-ad-delivered-uri="{ad:uri.delivered(banner: data.uid)}">
        <f:if condition="{data.header_link}">
        	<f:then>
        		<f:link.typolink parameter="t3://page?uid={settings.currentPageId}" title="{file.title}" additionalParams="type={settings.typeNums.clickTracking}&tx_advertising_clicktracking[banner]={data.uid}" class="link-advertising">
        			<f:format.html>{data.bodytext}</f:format.html>
        		</f:link.typolink>
        	</f:then>
        	<f:else>
        		<f:format.html>{data.bodytext}</f:format.html>
        	</f:else>
        </f:if>
    </div>
</html>